<h1>Welcome to your journal</h1>

<form method="POST" action="/journal_entries">
  <h3>Please select the date you'd like to write an entry for:</h3>
  <input type="date" name="date">

  <h3>My moods:</h3>
  <p>To add a new mood, visit the <a href="/moods">All Moods</a> page!</p>
  <div>
      <% Mood.all.each do |mood| %>
        <input type="checkbox" name="mood_ids[]" value="<%= mood.id%>"> <%= mood.mood_type%><br>
      <%end%>
  </div>
  
  <br>
  <div>
  <h3>Comments:</h3>
    <textarea name="content" value="content" rows="20" cols="90"></textarea>
  <br>
  <input type="submit" value="Save">
</form>
</div>