<h3>Entry for: <%= @journal_entry.date %> </h3>
<h4>The moods of the day:</h4>
    

<h4>Todays comments:</h4>
<%= @journal_entry.content %>

<br>
<br>

<form action="/journal_entries/<%= @journal_entry.id %>/edit" >
    <input type="submit" value="Edit">
</form>

 <form action="/journal_entries/<%= @journal_entry.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete">
  </form>

