<h1>Edit your details here:</h1>
<form method="POST" action="/users/<%= @user.id %>%">
<input id="hidden" type="hidden" method="_method" value="patch">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[:username]" value="<%= user.username %>%">
    <br>
     <label for="email">Email:</label>
    <input type="text" id="email" name="user[:email]" value="<%= user.email %>%">
    <br>
     <label for="password">Username:</label>
    <input type="text" id="password" name="user[:password]">

    <input type="submit" value="Update">
</form>

<form action="/users/<%= @user.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
