<% if Helpers.is_logged_in?(session) %>
      <h1>Welcome <%= Helpers.current_user(session).username %></h1>
      <h3>What would you like to do:</h3>
      <ul>
        <li><a href="/posts/new">Write new entry</a></li>
        <li><a href="/posts">Show all entries</a></li>
        <li><a href="/user/<%= @user.id %>/edit">Edit user details</a></li>
      </ul>

    <a href="/logout">Log Out</a>
    <% end %>