    <h1>Welcome, <%= @user.username %>.</h1>
    <h2>What would you like to do today?</h2>
      
        <a href="/journal_entries/new">Write new entry</a><br><br>
        <a href="/journal_entries">Show all entries</a><br><br>

    <form method="POST" action="/logout">
        <input type="submit" value="Logout">
    </form>
    

