<div class="container">
    <header><img src="images/MoodJournal.png" class="img-header"></header>
    <div class="col-md-8 col-md-offset-2">
      <h2>Mood tracking for the chaotic mind</h2>

      <div class="content">
        <p>Welcome to the MoodJournal! Here you'll be able to create, track and grow your mindfulness around your everyday mood. Use it to track trends, identify triggers and journal about your day.</p>
      </div>

      <div class="buttons">
          
              <img src="images/moodjournal-joinup.png" alt="sign up button">
              <img src="images/moodjournal-login.png" alt="log in button">
          
      </div>
    </div>
</div>
